body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: rgb(4, 95, 95);
  background: linear-gradient(180deg, rgba(4, 95, 95, 1) 0%, rgba(0, 128, 128, 1) 50%, rgba(0, 139, 139, 1) 100%);
}

div.card,
div.card-body,
div.card-footer {
  background: rgba(255, 255, 255, .6);
}

div.card-header {
  background-color: #4C787E;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #008080 #52595d;
}


*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #52595d;
}

*::-webkit-scrollbar-thumb {
  background-color: #00b6b6;
  border-radius: 10px;
  border: none;
}